In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv")

In [ ]:
df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [ ]:
df.shape

(77, 8)

In [ ]:
df['Worldwide Gross'].mean()

TypeError: Could not convert string '$41.94 $19.62 $26.66 $43.04 $219.37 $117.09 $521.28 $22.18 $0.03 $217.57 $55.86 $702.17 $376.66 $205.30 $709.82 $101.33 $314.70 $32.40 $127.77 $43.31 $285.43 $77.09 $355.01 $60.18 $48.81 $288.35 $288.35 $415.25 $55.86 $16.61 $20.74 $153.09 $20.71 $21.37 $55.24 $10.70 $92.60 $33.53 $142.04 $8.26 $145.90 $39.66 $15.17 $148.66 $206.07 $609.47 $609.47 $105.96 $36.08 $54.53 $96.16 $69.31 $79.18 $32.59 $219 $93.40 $21.57 $30.15 $224.60 $20.10 $252.04 $178.84 $59.19 $42.05 $193.97 $193.97 $102.22 $161.83 $33.47 $340.49 $114.97 $14.31 $29.37 $30.68 $8.97 $160.31 $60.72 ' to numeric

In [ ]:
df.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [ ]:
df['Worldwide Gross'] = df['Worldwide Gross'].str.strip().str[1:]

In [ ]:
df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,219.37,2008

In [ ]:
df.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [ ]:
df['Worldwide Gross'] = df['Worldwide Gross'].astype('float')

In [ ]:
df.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross      float64
Year                   int64
dtype: object

In [ ]:
df['Worldwide Gross'].mean()

145.21753246753244

In [ ]:
df['Worldwide Gross'].median()

79.18

In [ ]:
df.shape

(77, 8)

In [ ]:
df['Audience score %'].mode()

0    47
Name: Audience score %, dtype: int64

In [ ]:
df['Year'].mode()

0    2008
1    2010
Name: Year, dtype: int64

In [ ]:
df['Worldwide Gross'].quantile(0.1)

19.908

In [ ]:
df['Worldwide Gross'].quantile(0.5)

79.18